.loginText {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}

.register {
	text-align: center;
	background-color: #f9f6e7;
	padding: 40px 0 20px;

}

.register .reg-form {
	padding: 50px;
	margin: 80px auto;
	margin-top: 0;
}