.navigation .nav-img{
	padding-top: 1px;
	padding-right: 7px;
	height: 65px;
	width: 150px;
}

.navigation .navbar {
	background-color: #f0dd92;
}

.nav-username{
	margin: auto 15px;
}

.navigation img{
	height: 50px;
}

.user {
	display: flex;
	position: absolute;
	right: 0;
}

.nav-link {
	padding:0 10px; 
}